PORT=5000
JWT_SECRET=classcr-super-secret-key-2026

# Supabase Configuration
SUPABASE_URL=https://fbqafmahrhykcpojprrh.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_liuYHEmFdCr3uepuAF30IQ_ZLSH60wR
SUPABASE_SECRET_KEY=sb_secret_your_unmasked_secret_key
SUPABASE_JWKS_URL=https://fbqafmahrhykcpojprrh.supabase.co/auth/v1/.well-known/jwks.json
